.fields-designs-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.fields-design-image {
  /* border: 3px solid black; */
}
.fields-design-image:hover {
  cursor: pointer;
  border: 3px solid darkRed;
}
