.diamond {
  border-style: solid;
  border-color: transparent transparent #b9f2ff transparent;
  box-sizing: content-box;
}

.diamond-after {
  border-style: solid;
  border-color: #b9f2ff transparent transparent transparent;
}
.ruby {
  border-style: solid;
  border-color: transparent transparent #e0115f transparent;
  box-sizing: content-box;
}

.ruby-after {
  border-style: solid;
  border-color: #e0115f transparent transparent transparent;
}
.emerald {
  border-style: solid;
  border-color: transparent transparent #50c878 transparent;
  box-sizing: content-box;
}

.emerald-after {
  border-style: solid;
  border-color: #50c878 transparent transparent transparent;
}
.sapphire {
  border-style: solid;
  border-color: transparent transparent #0f52ba transparent;
  box-sizing: content-box;
}

.sapphire-after {
  border-style: solid;
  border-color: #0f52ba transparent transparent transparent;
}

.black-hole {
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-color: black;
  border-radius: 50%;
}
.black-hole:hover {
  background-color: black;
}

.gold {
  width: 2rem;
  height: 1.1547rem;
  background: #ffd700;
  position: relative;
}
.gold::before {
  content: '';
  position: absolute;
  top: -0.57735rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 0.57735rem solid #ffd700;
}
.gold::after {
  content: '';
  position: absolute;
  bottom: -0.57735rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 0.57735rem solid #ffd700;
}

.silver {
  width: 2rem;
  height: 1.1547rem;
  background: #c0c0c0;
  position: relative;
}
.silver::before {
  content: '';
  position: absolute;
  top: -0.57735rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 0.57735rem solid #c0c0c0;
}
.silver::after {
  content: '';
  position: absolute;
  bottom: -0.57735rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 0.57735rem solid #c0c0c0;
}
