.show-border-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

/* .button-border {
  border: none;
}

.button-border:hover {
  cursor: pointer;
  background-color: gray;
}

.button-border:focus {
  background: white;
  outline: none;
  
  outline-offset: none;
}

.button-border:active {
  transform: scale(1);
} */

.button-border {
  background-color: black;
  color: white;
  padding: 0.5rem;
}
.button-border:hover {
  cursor: pointer;
  background-color: darkred;
}
