.show-border-container {
  margin-bottom: 2rem;
}

.button-border {
  border: none;
}

.button-border:hover {
  cursor: pointer;
  background-color: gray;
}

.button-border:focus {
  background: white;
  outline: none;
  /* transform: skew(-21deg); */
  outline-offset: none;
}

.button-border:active {
  transform: scale(1);
}
