.show-border-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.button-border {
  background-color: black;
  color: white;
  padding: 0.5rem;
}
.button-border:hover {
  cursor: pointer;
  background-color: darkred;
}
